{% extends 'base.html' %}

{% block title %}Edit company{% endblock %}
{% block header %}Edit company{% endblock %}

{% block content %}
    <form method="post" class="form-control form-horizontal mt-3 mb-3">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <label for="price_updated">Price update date:</label>
            <input type="text" name="price_updated" class="form-control" value="{{ form.instance.price_updated|date:'Y.m.d H:i' }}" readonly>
        </div>
        <button type="submit" class="btn btn-success mt-3 mb-3">SAVE</button>
    </form>
{% endblock %}
