{% extends 'base.html' %}
{% load static %} 
{% load custom_filters %}

{% block title %}Financial Data{% endblock %}

{% block header %}Financial Data{% endblock %}

{% block content %}

    <Import data-modules="findashboard"></Import>

    <h2>
        {{ financial_data.0.company.name }} ({{ financial_data.0.company.ticker }}) / {{ financial_data.0.company.currency }}
    </h2>
    
    <div class="d-flex flex-wrap align-items-center mt-3">
        <a href="{% url 'edit_financial_data' company.id %}" class="btn me-2">
            <i class="fa-solid fa-table"></i> Edit data
        </a>
        <a href="{% url 'edit_company' company.id %}" class="btn me-2">
            <i class="fa-solid fa-industry"></i> Edit company
        </a>
        <button id="download_financial_data" class="btn me-2">
            <i class="fa-solid fa-cloud-arrow-down"></i> Download data
        </button>

        <form id="file-upload-form" class="d-flex align-items-center" method="POST" enctype="multipart/form-data" action="{% url 'upload-financial-data' company_id=company.id %}" data-company-id="{{company.id}}">
            {% csrf_token %}
            <input type="file" id="file-input" name="file" accept=".csv" class="form-control  me-3" style="width: auto;">
            <button type="submit" id="upload-file-btn" class="btn btn-primary">Process</button>
        </form>
    </div>

    

    <div class="table-container">
        <table id="financial-data-table">
            <thead>
                <tr>
                    {% for field in fields %}
                        <th class="{% if field == 'id' %}hidden{% endif %}" data-field="{{field}}">{{ field|get_field_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for data in financial_data %}
                <tr>
                    {% for field in fields %}
                        <td class="{% if field == 'id' %}hidden{% endif %}" data-field="{{field}}"  data-year="{{data.year}}">{{ data|get_field_value:field }}</td>
                    {% endfor %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="15">There is no financial data for this company</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div id="fin-dashboard" data-company-id="{{company.id}}"></div>

{% endblock %}


{% block extra_js %}
    

{% endblock %}
