
#raw-data-table td {
    min-width: 150px; 
    max-width: 200px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.table-input {
    width: 100%;
}

#raw-data-table th {
    min-width: 150px; 
    max-width: 200px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

#raw-data-table th select {
    width: 100%; 
    padding: 5px; 
    margin-top: 10px;
    box-sizing: border-box; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


