{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Investment Analysis{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'dist/bundle.css' %}"> 
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="layout">
        <div class="sidebar-layout">
            <button id="toggle-sidebar" title="show or hide sidebar"><i class="fa-solid fa-arrow-left"></i></button>
            <nav class="sidebar-wrapper">
                <div class="sidebar-top">
                    <ul class="sidebar-nav">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'company_list' %}">Companies</a></li>
                            <li><a href="{% url 'new_company' %}">New Company</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="sidebar-bottom">
                    {% if user.is_authenticated %}
                        <span class="sidebar-text">Welcome, {{ user.username }}!</span>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    {% else %}
                        <ul class="sidebar-nav">
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>
        
        <div class="content-layout">
            <header>
                {% block header %}Investment Analysis App{% endblock %}
            </header>

            <div class="content-wrapper">
                <main>
                    {% block content %}
                    {% endblock %}
                </main>

                <footer>
                    <p>&copy; 2024 Financial Analysis by Patryk Gajowniczek. All rights reserved.</p>
                </footer>
            </div>
            
        </div>
    </div>
    
    
    <script>
        window.serverBaseUrl = '{{ request.scheme }}://{{ request.get_host }}';
        window.csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'dist/bundle.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
