{% extends 'base.html' %}

{% block header %}{% if object %}Edit{% else %}Create{% endif %} asset{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if object %}
            <div>
                <label for="price_updated">Price update date:</label>
                <input type="text" name="price_updated" class="form-control" value="{{ form.instance.price_updated|date:'Y.m.d H:i' }}" readonly>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary w-100 mt-3">{% if object %}Save{% else %}Create{% endif %}</button>
    </form>
{% endblock %}
